<div class="page-container">
    <div class="header">
        <h1>Chats</h1>
        <div>
            <button class="btn-icon mr-2"><fa-icon [icon]="faVideo"></fa-icon></button>
            <button class="btn-icon"><fa-icon [icon]="faPlus"></fa-icon></button>
        </div>
    </div>
    <app-search 
        [styleOptions]="'mt-4'" 
        [placeholder]="'Search Messenger'"
        (onSearchInputted)="searchOnThread($event)"
    >
    </app-search>
    <div class="search-result" *ngIf="searchInput">
        <fa-icon [icon]="faSearch"></fa-icon>
        <p>Search messages for "{{ searchInput }}"</p>
    </div>
    <app-chat-list [threads]="threads"></app-chat-list>
</div>