<div class="home-container">
    <div class="side-container" [class]="{ 'toggle-off' : !isToggle }">
        <app-sidebar [pages]="pages"></app-sidebar>
        <app-communities [communities]="communities"></app-communities>
        <app-user-profile></app-user-profile>
    </div>
    <router-outlet></router-outlet>
    <div class="thread-container">
        <app-thread *ngIf="hasThread"></app-thread>
        <app-thread-profile *ngIf="hasThread"></app-thread-profile>
        <h1 *ngIf="!hasThread" class="start-text">Select a chat or start a new conversation</h1>
    </div>
</div>